<div id="ah-overlay-bg" *ngIf="show"></div>
<div id="ah-nav-container" [style.width]="show ? '360px' : '0'" [ngClass]="{'ah-navbar-shadow': show}"
  class="ah-ubl-nav-bg-default">
  <div class="container mt-4 mb-4 text-center">TabHotel: Menus test - Mansour BRAHMI
    <div class="row">
      <div *ngTemplateOutlet="recursiveMenu; context:{ $implicit: navItems }"></div>
      <ng-template #recursiveMenu let-menus>
        <ul class="w-100">
          <li *ngFor="let menu of menus;">
            <a class="align-self-stretch text-left" href="#" title="{{menu.name}}"
              (click)="onItemSelected(menu, $event);">
              <i class="fa {{menu.iconName}}"></i> <span class="nav-header-primary p-2">{{menu.name}}</span> &nbsp;
              <span *ngIf="menu.submenus" class="fa fa-caret-down fa-2x pull-right"
                [@indicatorRotate]="expanded[menu.name] ? 'expanded': 'collapsed'">
              </span>
            </a>
            <ul *ngIf="menu.submenus && expanded[menu.name]" id="nav{{menu.name}}">
              <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: menu.submenus }"></ng-container>
            </ul>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>